<template>
    <div id="titleMenuBar">
        <div id="drag-region">
            <WindowControls />
            <!-- menuitem -->
            <!-- https://developer.aliyun.com/mirror/npm/package/electron-react-titlebar -->
            <!-- https://github.com/KochiyaOcean/electron-react-titlebar/blob/master/assets/style.css -->
        </div>
    </div>
</template>

<script>
import WindowControls from "./WindowControls";
export default {
    name: "TitleMenuBar",
    components: { WindowControls }
};
</script>

<style lang="stylus" scoop>
// @import '~assets/css/main.styl';

// 拖拽控制
#titleMenuBar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}
</style>
