<template>
    <div id="window-controls">
        <!-- 标题栏制作教程 -->
        <!-- https://github.com/binaryfunt/electron-seamless-titlebar-tutorial -->
        <div class="button" id="min-button">
            <span class="icon iconfont icon-min" draggable="false"></span>
        </div>
        <div class="button" id="max-button">
            <span class="icon iconfont icon-all_max" draggable="false"></span>
        </div>
        <div class="button" id="restore-button">
            <span class="icon iconfont icon-restore" draggable="false"></span>
        </div>

        <div class="button" id="close-button">
            <span class="icon iconfont icon-window-close" draggable="false"></span>
        </div>
    </div>
</template>

<script>
import { handleWindowControls } from "./TitleBar";
// const { remote } = require("electron");
export default {
    name: "WindowControls",
    methods: {},
    mounted() {
        handleWindowControls();
    }
};
</script>

<style lang="stylus" scoop>
@import '~assets/svg/alisvg/iconfont.css';

.iconfont {
    color: #ffffff;
}

// 图标大小调整
.icon-min {
    font-size: 16px;
}

.icon-all_max {
    font-size: 16px;
}

.icon-window-close {
    font-size: 26px;
}

// 窗口控制按钮 位置
#window-controls {
    // css grid
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#min-button {
    grid-column: 1;
}

#max-button, #restore-button {
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

// 窗口控制按钮 样式
#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #F1707A !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#restore-button {
    display: none !important;
}

// 最大化时在 最大化和还原按钮 间切换
.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}
</style>
