<template>
    <div class="home">
        This is home page
        <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
        <Todo />
    </div>
</template>

<script>
import Todo from "@/components/todo/Todo.vue";

export default {
    name: "Home",
    components: {
        Todo
    }
};
</script>
