// 由于两者有关联的 距离属性；所以放在一个文件里方便设置

#titleMenuBar {
    display: block;
    position: fixed;
    z-index: 10000;
    height: 32px;
    top:0; /* 设置top才能避免被app的content的内容影响*/
    /* width: calc(100% - 2px); /* Compensate for body 1px border */
    width :100%;
    background: #27496d;
}

#sideMenuBar {
    text-align: center;
    position: fixed;
    width: 45px;
    height: 100vh; 
    margin-top: 32px;
    overflow: auto;
    background: #27496d;
    color: #ffffff;
    border-top: 1px dashed #fff;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: #dae1e7;
    margin-left: 45px; // 和 sideMenuBar 关联耦合
    margin-top: 32px; // 和 titleMenuBar 关联耦合
    height: 100vh;
    width: 100%;
    overflow: auto;
    position: fixed;
}