<template>
    <div id="sideMenuBar">
        <div class="head">
            <router-link to="/home" class="routerLink">
                <font-awesome-icon :icon="['fas', 'home']" size="1x" class="fontIcon" />
            </router-link>
            <router-link to="/blog" class="routerLink">
                <font-awesome-icon :icon="['fab', 'markdown']" size="1x" class="fontIcon" />
            </router-link>
        </div>
        <div class="foot">
            <router-link to="/appstore" class="routerLink">
                <font-awesome-icon :icon="['fab', 'app-store']" size="1x" class="fontIcon" />
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: "SideMenuBar"
};
</script>

<style lang="stylus" scoop>
#sideMenuBar .button {
    font-size: 30px;
}

// 单个routerlink组件
.routerLink {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}

.routerLink:hover {
    background: rgba(255, 255, 255, 0.1);
}

.routerLink:active {
    background: rgba(255, 255, 255, 0.2);
}

.fontIcon {
    color: #fff;
}

.routerLink:hover .fontIcon, .routerLink:active .fontIcon {
    // 图标悬空颜色
    color: #fff;
}

// footer布局
// tick: 使用table 和 table-row 来实现顶部底
#sideMenuBar {
    display: table;
    // 使得display table内部的border可以展示
    // https://stackoverflow.com/questions/10040842/add-border-bottom-to-table-row-tr
    border-collapse: collapse;
}

.foot {
    display: table-row;
    height: 30%;
    border-top: 1px dashed #fff;
}
</style>
