<template>
    <div class="mbulma m-todo-item-pop">
        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">start time</p>
                    <p class="title">2020-07-05</p>
                    <p class="title">14:35:36</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">pause time</p>
                    <p class="title">1Y 2M 3W 4D</p>
                    <!-- <p class="title">1年 2月 3周 4天</p> -->
                    <p class="title">4h 30m 50s</p>
                    <!-- <p class="title">4小时 30分 50秒</p> -->
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">target time</p>
                    <p class="title">2020-08-05</p>
                    <p class="title">14:35:36</p>
                </div>
            </div>
        </nav>
        <textarea
            class="textarea"
            placeholder="e.g. Hello world"
            v-model="description"
            :disabled="true"
        ></textarea>
        
    </div>
</template>

<script>
export default {
    name: "TodoItemPop",
    data() {
        return {
            description: "这里是todo item的描述"
        };
    }
};
</script>

<style lang="stylus" scoop>
.m-todo-item-pop .title {
    color: #ffdd57;
    font-size: 1rem;
}

.m-todo-item-pop .title {
}
</style>
