<template>
    <div>
        <TodoPannel />
        <!-- ⭐todo定义 -->
        <!-- 不止todo，可以是其他自定义的 标签例如，fixme 等，需要有一个管理标签 -->
        <!--    管理标签在pannel外部设定,向pannel传递标签的值 -->
        <!-- todo可以是 不同地方/文件夹/文件类型/自定义分类的todo， -->

        <!-- ⭐每个todo的详细信息 -->
        <!-- 可以弹出，文件路径，文件元信息，todo设定时间，是否开始，类别信息，完成时间 -->
        <!-- 可以设定，设定进度，手动添加/编辑/更新进度 -->

        <!-- ⭐常规操作 -->
        <!-- 添加 -->
        <!-- 搜索 -->
        <!-- 扫描 -->
        <!--    扫描文件，文件夹 -->
        <!--    扫描添加标签 -->
        <!--    扫描更新进度 -->
        <!--    扫描完成和删除旧的进度 -->
        <!-- 排序 -->
        <!--    按照创建时间、更新时间、完成时间、名称 -->
        <!-- 分类显示 -->
        <!--    显示markdown的、java的、txt的 etc -->

        <!-- ⭐显示 -->
        <!-- 常规列表视图显示 -->
        <!-- 日历视图显示 -->
        <!-- 统计视图显示 -->
        <!--    统计量度 -->
        <!--        类别/进度/时间 -->
    </div>
</template>

<script>
import TodoPannel from "./TodoPannel.vue";
export default {
    name: "Todo",
    components: {
        TodoPannel
    }
};
</script>

<style lang="stylus" scoop></style>
