<template>
    <div class="mbulma">
        <nav class="panel">
            <p class="panel-heading">TODO TASK</p>
            <div class="panel-block" style="display:block;">
                <BulmaButtonGroup name="LIST TYPE" :buttonArray="buttonArray" :firstActive="0" />
            </div>
            <div class="panel-block" style="display:block;">
                <BulmaInput :awesomeIconArray="['fas','check']" />
                <BulmaInput :awesomeIconArray="['fas','plus']" />
                <BulmaInput :awesomeLayerArray="testLayerArray" />
            </div>
            <!-- todo:element的文字提示 显示类别 -->
            <div class="pannel-block" style="padding: 0.5em 0.75em;">
                <!-- <BulmaTab /> -->
            </div>

            <!-- todoItem -->
            <div class="pannel-block" style="padding: 0.5em 0.75em;">
                <!-- https://github.com/Akryum/v-tooltip#usage -->
                <v-popover v-for="index in 20" :key="index" placement="right-start" offset="10">
                    <!-- This will be the popover target (for the events and position) -->
                    <TodoItem />
                    <!-- This will be the content of the popover -->
                    <TodoItemPop slot="popover" />
                </v-popover>
            </div>
            <!-- todoItem -->
        </nav>
    </div>
</template>
<script>
import ButtonGroup from "@/components/bulmautil/ButtonGroup.vue";
import Input from "@/components/bulmautil/Input.vue";
import TodoItem from "./TodoItem.vue";
import TodoItemPop from "./TodoItemPop.vue";

import { test } from "./ScanItem.js";
export default {
    name: "TodoPannel",
    components: {
        BulmaButtonGroup: ButtonGroup,
        BulmaInput: Input,
        TodoItem,
        TodoItemPop
    },
    data() {
        return {
            buttonArray: [
                { name: "ALL" },
                { name: "PROCESS" },
                { name: "DO LATER" },
                { name: "FINISHED" }
            ],
            testLayerArray: [
                { icon: ["far", "file"], transform: "grow-7" },
                { icon: ["fas", "search"], transform: "right-5 down-5" }
            ]
        };
    },
    async created() {
        await test()
    }
};
</script>

<style lang="stylus" scoop>
.mbulma {
    width: 450px;
}

.select {
    max-width: 70px !important;
}

.fontIcon {
    color: #fff;
}

.v-popover .trigger {
    max-width: 100%;
}
</style>

<style lang="less">
// http://lesscss.cn/features/
.tooltip {
    @back-color: #226597;
    @txt-color: #fff;
    &.popover {
        .popover-inner {
            background: @back-color;
            color: @txt-color;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(black, 0.1);
        }

        .popover-arrow {
            border-style: solid;
            position: absolute;
            border-color: @back-color;
        }
    }
    &[x-placement^="right"] {
        margin-left: 5px;

        .popover-arrow {
            border-width: 10px 10px 10px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -10px !important;
            top: calc(5% - 5px) !important;
        }
    }
}
</style>
