<template>
    <!-- https://bulma.io/documentation/layout/level/ -->
    <!-- Main container -->
    <nav class="columns m-todo-item" style="background-color:#226597;height:45px;max-width:100%;">
        <!-- Left side -->
        <div class="column is-three-quarters left-column">
            <!-- <div class="level-item"></div> -->
            <div
                class="todo-text"
            >HELL 0 这是一个todo 这是一个todo这是一个todo这是一这是一个todo这是一这是一个todo这是一这是一个todo这是一个todo</div>
        </div>

        <!-- center -->
        <!-- <button class="head-button button is-danger is-selected is-small">name</button> -->

        <!-- Right side -->
        <div class="column right-column">
            <p class="in-col-item">
                <font-awesome-icon
                    :icon="['fas','times']"
                    size="1x"
                    class="font-icon"
                    aria-hidden="true"
                    style="color:#ff6f69;"
                />
            </p>
            <p class="in-col-item">
                <font-awesome-icon
                    :icon="['fas','pause']"
                    class="font-icon"
                    aria-hidden="true"
                    style="color:#ffcc5c;"
                />
            </p>
            <p class="in-col-item">
                <font-awesome-icon
                    :icon="['fas','play']"
                    size="1x"
                    class="font-icon"
                    aria-hidden="true"
                    style="color:#ffcc5c;"
                />
            </p>
            <p class="in-col-item">
                <font-awesome-icon
                    :icon="['fas','check']"
                    size="1x"
                    class="font-icon"
                    aria-hidden="true"
                    style="color:#88d8b0;"
                />
            </p>
        </div>
    </nav>
</template>

<script>
export default {
    name: "TodoItem"
};
</script>

<style lang="stylus" scoop>
.m-todo-item.columns {
    margin : 0;
    margin-bottom: 1rem !important;
}

.m-todo-item.columns .left-column {
    width: 70%;
    overflow: hidden;
    display :flex ;
}

.m-todo-item.columns .right-column {
    display :flex ;
}

.m-todo-item.columns .in-col-item {
    margin-right: 0.75rem;
}

.m-todo-item.columns .left-column .todo-text {
    color: #fff;
    font-family: cursive;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.m-todo-item.columns:hover .todo-text {
    overflow: scroll;
}

.m-todo-item.columns .in-col-item .font-icon:hover {
    background: rgba(255, 255, 255, 0.1);
}
</style>
