<template>
    <div id="app">
        <router-view style="margin-bottom: 32px;"/>
    </div>
</template>

<script>
export default {
    name: "App",
    methods: {},
    components: {},
    created() {}
};
</script>

<style lang="less">
/** 添加 bulma 的命名空间，使用示例：
 * <mbulma>
 *     <button class="button is-warning">Warning</button>
 *     <button class="button is-danger">Danger</button>
 * </mbulma>
 */
/** 自定义颜色主题
 * 直接使用 $body-background-color:#FA7C91; 类似的操作
 * 三个颜色function https://bulma.io/documentation/overview/functions/
 * 文档第二节的定制 https://bulma.io/documentation/customize/variables/
 */
.mbulma {
    box-sizing: border-box;
    @import (less) "~modules/bulma/css/bulma.css";
}

// https://animate.style/
.animated {
    @import (less) "~modules/animate.css/animate.css";
}
</style>

<style lang="stylus">
// todo: theme
// todo: background used svg or image or others or personal css
// todo: 可以选择 组件安装到哪个位置：侧边栏、标题栏、home页面等

</style>
