<template>
    <div class="m-button-group">
        <button
            v-if="name"
            class="head-button button is-danger is-selected is-small"
            disabled
        >{{name}}</button>
        <div class="buttons has-addons">
            <button
                class="button is-small"
                v-for="(button,index) in buttonArray"
                :key="index"
                @click="handleClick(index)"
                :class="active==index?'is-info is-selected':''"
            >{{button.name}}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "ButtonGroup",
    props: {
        name: String,
        buttonArray: {
            type: Array,
            validator: function(array) {
                return (
                    array.find(item => !(item.name instanceof String)) !==
                    undefined
                );
            }
        },
        firstActive: { type: Number, default: -1 },
        callback: Function
    },
    data() {
        return {
            active: this.firstActive
        };
    },
    methods: {
        handleClick(index) {
            this.active = index;
            if (this.callback) {
                this.callback(index);
            }
        }
    }
};
</script>

<style scoop>
/* hide scrollbar */
/* ::-webkit-scrollbar {*/
/* width: 0px; Remove scrollbar space */
/* background: transparent; Optional: just make scrollbar invisible */
/* display: none;  Safari and Chrome */
/* -ms-overflow-style: none;  Internet Explorer 10+ */
/* scrollbar-width: none;  Firefox */
/* }*/

.m-button-group {
    display: flex;
}

.m-button-group .buttons:last-child,
.m-button-group .buttons .button {
    margin-bottom: 0rem;
}

.m-button-group .buttons {
    flex-wrap: initial;
    flex-direction: row;
    overflow-y: hidden;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
</style>
