<template>
    <div class="field has-addons" style="width:100%;">
        <div class="control is-expanded">
            <input
                class="input is-small"
                :type="input.type?input.type:'text'"
                :placeholder="input.inputHolder?input.inputHolder:'holder'"
                v-model="inputValue"
            />
        </div>
        <div class="control">
            <button type="submit" class="button is-info is-small">
                <span class="icon is-small">
                    <font-awesome-icon
                        v-if="awesomeIconArray"
                        :icon="awesomeIconArray"
                        size="1x"
                        class="fontIcon"
                        aria-hidden="true"
                    />
                    <font-awesome-layers
                        v-if="awesomeLayerArray"
                        :icon="awesomeLayerArray"
                        size="1x"
                        class="fontIcon"
                        aria-hidden="true"
                    >
                        <font-awesome-icon
                            v-for="(awesomeIcon,index) in awesomeLayerArray"
                            :key="index"
                            :icon="awesomeIcon.icon"
                            :transform="awesomeIcon.transform"
                        />
                    </font-awesome-layers>
                </span>
                <!-- todo:可以选择是否显示文字 -->
                <!-- <span>Add</span> -->
            </button>
        </div>
    </div>
</template>

<script>
export const Input = {
    name: "Input",
    props: {
        input: {
            type: Object,
            default: function() {
                return {
                    type: "text",
                    inputHolder: "input holder"
                };
            },
            validator: function(inputV) {
                var assertType =
                    [
                        undefined,
                        null,
                        "text",
                        "password",
                        "email",
                        "tel"
                    ].indexOf(inputV.type) !== -1;
                return assertType;
            }
        },
        inputHolder: { type: String, default: "input holder" },
        awesomeIconArray: {
            type: Array
            // default: function() {
            //     return ["fas", "check"];
            // }
        },
        awesomeLayerArray: {
            type: Array
            // default: function() {
            //     return [
            //         ["fas", "check"],
            //         ["fas", "check"]
            //     ];
            // }
        }
    },
    data() {
        return {
            inputValue: ""
        };
    }
};
// todo: 多种输入组件
export const PreInput = {
    name: "PreInput"
};
export default Input;
</script>

<style lang="stylus" scoop></style>
