<template>
    <div class="mtab">
        <div class="tabs is-left is-toggle is-small" style="margin-bottom: 0rem;">
            <ul style="margin:3px auto 0;">
                <li class="is-static" style="background-color:whitesmoke;pointer-events:none;">
                    <a v-if="name">
                        <span>{{name}}</span>
                    </a>
                </li>
                <li
                    v-for="(tabItem,index) in tabArray"
                    :key="index"
                    :class="active==index?'is-active':''"
                    style="background-color:#fff"
                >
                    <a @click="handleClick(index)">
                        <span>{{tabItem}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container" style="background-color:white;">
            <span v-for="index in 10" :key="index">
                {{tabArray[active]+tabArray[active]+tabArray[active]}}
                <br />
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: "Tab",
    props: {
        name: { type: String, default: "TAB" },
        tabArray: {
            type: Array,
            default: function() {
                return ["LIST", "CHART"];
            },
            validator: function(array) {
                return (
                    array.find(item => !(item.name instanceof String)) !==
                    undefined
                );
            }
        },
        callback: Function
    },
    data() {
        return {
            active: 0
        };
    },
    methods: {
        handleClick(index) {
            this.active = index;
            if (this.callback) {
                this.callback(index);
            }
        }
    }
};
</script>

<style lang="stylus" scoped>
.fontIcon {
    color: red;
}

.tabs.is-toggle a {
    border-bottom: 0;
}
</style>

<style lang="stylus" scoop></style>
